<a href="https://colab.research.google.com/github/Angy-face/Esan-Coding-SS2/blob/main/2_2_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src = 'https://drive.google.com/uc?id=18zsxFId1FaUI1RvfkAex6ZoNpToP8GoT'>

# ผู้บรรยาย: ดร.วิธวินท์ สุสุทธิ
## ภาควิชาคณิตศาสตร์ คณะวิทยาศาสตร์ มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี

### **มารู้จักกับ Pandas**



*   การติดตั้ง
*   ข้อมูลแบบ Dataframe
*   การอ่านและเขียนข้อมูล
*   การจัดการกับข้อมูลสูญหาย

## **Pandas คืออะไร?**
*   Pandas คือ Python library สำหรับทำงานกับชุดข้อมูลที่สะดวก รวดเร็ว เหมาะกับข้อมูลลักษณะที่เป็นตาราง ข้อมูล time series ข้อมูลที่เก็บเป็น matrix
*   มีฟังก์ชันการทำงานด้านการวิเคราะห์ ทำความสะอาดข้อมูล และจัดการข้อมูล

## **การติดตั้ง pandas และการเรียกใช้งาน**


```
conda install -c conda-forge pandas
```


```
pip install pandas
```

In [ ]:
import pandas as pd
import numpy as np

## **โครงสร้างข้อมูลพื้นฐานทีใช้ใน pandas**


ใน pandas จะมีรูปแบบของข้อมูล 2 รูปแบบ


1.   Series - โครงสร้างข้อมูลแบบ 1 มิติ มีลักษณะเหมือนคอลัมภ์ของตาราง
2.   DataFrame - โครงสร้างข้อมูลแบบ 2 มิติ มีลักษณะเหมือนตาราง หรือ array 2 มิติ ใช้แถวและหลักในการอ้างถึงข้อมูลแต่ละตัว

## **การสร้าง Series อย่างง่าย**

In [ ]:
dataSeries = pd.Series([1, 2, 3, 4])
dataSeries

In [ ]:
data = [1,2,3,4]
dataSeries = pd.Series(data)
dataSeries

## **การสร้าง Series จาก dictionary**

In [ ]:
dat = {'Type A':1, 'Type B':2, 'Type C':3}
dataSeries = pd.Series(data=dat)
dataSeries

In [ ]:
dat = {'Type A':1, 'Type B':2, 'Type C':3}
dataSeries = pd.Series(data=dat, index=['Type A','Type B','Type C'])
dataSeries

## **การสร้าง DataFrames จาก dictionary**

In [ ]:
data = {
    'apples':[1,2,3,4],
    'mango': [0,1,5,4]
}
dataFrameA = pd.DataFrame(data)
dataFrameA

In [ ]:
dataFrameB = pd.DataFrame(
    {
        'A': 1.0,
        'B': pd.Timestamp('20130102'),
        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
        'D': np.array([3] * 4, dtype='int32'),
        'E': pd.Categorical(['test', 'train', 'test', 'train']),
        'F': 'foo',
    }
)
dataFrameB

## **Index**

In [ ]:
dataFrameC = pd.DataFrame(data, index=['Index 1', 'Index 2', 'Index 3', 'Index 4'])
dataFrameC

## **การอ่านไฟล์ข้อมูล**


*   ไฟล์ CSV
*   ไฟล์ Excel

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/dataset/imdb_top_1000.csv')
df

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/dataset/imdb_top_1000.csv', index_col = 'Series_Title')
df

In [ ]:
df2 = pd.read_excel('/content/drive/MyDrive/dataset/imdb_top_1000.xls')
df2

## **การบันทึกข้อมูล**

In [ ]:
df.to_csv('/content/drive/MyDrive/dataset/new_imdb_top_1000.csv')

In [ ]:
df.to_excel('/content/drive/MyDrive/dataset/new_imdb_top_1000.xlsx')

## **ทำความรู้จักกับข้อมูล**

In [ ]:
df.head(10)

In [ ]:
df.tail()

In [ ]:
df.index

RangeIndex(start=0, stop=1000, step=1)

In [ ]:
df.columns

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [ ]:
df.shape

In [ ]:
len(df)

In [ ]:
df.size

In [ ]:
df.dtypes

In [ ]:
df.describe()

In [ ]:
df.sort_values(by = 'Meta_score').head()

In [ ]:
df.sort_values(by = ['Meta_score', 'Released_Year'], ascending = False).head()

In [ ]:
df.sort_index(axis=1).head()

## **การเข้าถึงข้อมูลใน DataFrame**

In [ ]:
df.Released_Year

In [ ]:
df['Released_Year']

In [ ]:
df[0:6]

In [ ]:
df.iloc[499]

In [ ]:
df.iloc[499,0:2]

In [ ]:
df.iloc[499,[0,2]]

In [ ]:
df.iloc[[499]]

In [ ]:
df.loc['Forrest Gump']

In [ ]:
df.loc['Forrest Gump',['Released_Year']]

In [ ]:
df.loc[['Forrest Gump']]

In [ ]:
df['Released_Year'].value_counts().head(10)

In [ ]:
df[df['Released_Year'] == '2014']

## **การ filter ข้อมูลเบื้องต้นใน DataFrame**

In [ ]:
before_1975 = df['Released_Year'] < '1975'
df[before_1975]

In [ ]:
mid_80s = df['Released_Year'].between('1983', '1986')
df[mid_80s]

In [ ]:
df['IMDB_Rating'].mean()

In [ ]:
genre = df.groupby('Genre')

In [ ]:
genre['IMDB_Rating'].count().head()

In [ ]:
genre['IMDB_Rating'].mean().head()

## **การจัดการกับข้อมูลซ้ำ**

In [ ]:
df['Director'].duplicated(keep=False).head()

In [ ]:
temp_df = df.append(df)
temp_df.shape

In [ ]:
temp_df = temp_df.drop_duplicates()
temp_df.shape

In [ ]:
temp_df.drop_duplicates(inplace=True)
temp_df.shape

In [ ]:
temp_df = df.append(df)
temp_df.drop_duplicates(inplace=True, keep=False)
temp_df.shape

## **การจัดการกับ Missing values**
ในเบื้องต้นมี 2 วิธี


1.   ลบแถว หรือหลักที่มีข้อมูลที่สูญหาย หรือ NA
2.   แทนที่ค่าที่หายไปหรือ NA ด้วยค่าอื่น ๆ

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
df.isna().sum()

In [ ]:
df.dropna()

In [ ]:
df.isnull()

In [ ]:
df.fillna(value=5)

## **การจัดการ Column**

In [ ]:
df.columns

In [ ]:
df.rename(columns={'Series_Title':'Title', 'No_of_Votes':'Votes'}, inplace=True)
df.columns

## **การสร้าง column ใหม่จากการคำนวนโดยใช้ column อื่น ๆ**

In [ ]:
df['Meta_percent'] = df['Meta_score']/100
df.head(2)

## **การสร้าง column ใหม่โดยการใช้ function ร่วม**

In [ ]:
def rating_function(x):
    if x >= 8.0:
        return 'Good'
    else:
        return 'Bad'

In [ ]:
df['Rating'] = df['IMDB_Rating'].apply(rating_function)
df.head(2)

In [ ]:
df.tail()

In [ ]:
df['Rating 2'] = df['IMDB_Rating'].apply(lambda x: 'Good' if x >= 8.0 else 'Bad')
df.head(2)

# เอกสารอ้างอิง
1. Python Language. https://www.python.org
2. Pandas. https://pandas.pydata.org/
4. Boris Paskhaver, Pandas in action (Manning Publications, 2021).

<img src = 'https://drive.google.com/uc?id=18qUXmnQK3FIPfMCm8m0aKf1Saam6ezdJ'>
<img src = 'https://drive.google.com/uc?id=192V5NZG8GXDFzYQIxTRJCSmiBUkc2xys'>